input[type=text], textarea{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.container {
    width: 340px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 40px;
}

select {
    width: 500px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}